{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components": "./src/components",
          "@utils": "./src/utils",
          "@services": "./src/utils/services",
          "@redux": "./src/redux",
          "@screens": "./src/screens",
          "@database": "./src/database",
          "@assets": "./src/assets"
        }
      }
    ]
  ]
}
